services:
  comfyui-worker:
    image: runpod/worker-comfyui:dev
    pull_policy: never
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - SERVE_API_LOCALLY=true
    ports:
      - "8000:8000"
      - "8188:8188"
    volumes:
      - ./data/comfyui/output:/comfyui/output
      - ./data/runpod-volume:/runpod-volume
       # Montar custom_nodes desde runpod-slim/ComfyUI/custom_nodes en el volumen
      #- ./data/runpod-volume/ComfyUI/custom_nodes:/comfyui/custom_nodes
      - ./data/runpod-slim/ComfyUI/custom_nodes:/comfyui/custom_nodes
